{% extends 'base.html' %}
{% block content %}

<div class="col s12 m6 l6" style="margin-top: 15%;">
  <div class="card">
    <div class="card-content">
      <h1 class="fascinate">Delete Coffee Maker</h1>

      <h4>Are you sure you want to delete <span class="brown-text lighten-5">{{ object.name }}</span>?</h4>
      <br>
      <br>
      <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes - Delete!" class="btn brown lighten-1">
        <a class="btn brown lighten-1" href="{% url 'maker_detail' maker.id %}">Cancel</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}