{% extends 'base.html' %}
{% block content %}


  
  <h1>Coffee Details</h1>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="card z-depth-3">
      <div class="card-content grey lighten-5">
        <span class="card-title">Picture</span>
          <!-- Responsive Images
          To make images resize responsively to page width, you can add the class responsive-img to your image tag. it will now have a max-width: 100% and height: auto.-->
          <img class="responsive-img" src="cool_pic.jpg">
          <p>Picture</p>              
      </div>
    </div>
  </div>
  
  <div class="col s12 m6 l6">
    <div class="card z-depth-3">
      <div class="card-content grey lighten-5">
        <span class="card-title">Coffee</span>
          <p>Name</p>
          <p>Brand</p>
          <p>Roast</p>
          <p>Country of Origin - Columbia</p>
          <p>Tasting Notes</p>
          <p>Rating</p>   
          <p>Review</p>    
      </div>
        <div class="card-content grey lighten-5">
          <span class="card-title">Brew Tips</span>
            <p>Brew Tips</p>              
        </div>      
      <div class="card-action grey lighten-5">
        <a href="{% url 'coffee_update' %}">Edit</a>
        <a href="{% url 'coffee_delete' %}">Delete</a>
      </div>
    </div>        
  </div>
</div>

{% endblock %}
