{% extends 'base.html' %}
{% block content %}

<div class="col s12 m6 l6">
    <div class="card">
        <div class="card-content">
            <h1 style="font-family: 'Fascinate', cursive;">About JavaBook</h1>
            <hr>
            <br>
            <p style="font-family: 'Poppins', sans-serif;">
                Welcome to JavaBook, the ultimate destination for coffee enthusiasts. Our platform serves as your personal coffee diary, allowing you to record and review every coffee you've tried, from brand to roast to tasting notes. JavaBook is the perfect place to chronicle your coffee journey.
            </p>
            <br>
            <br>
            <p style="font-family: 'Poppins', sans-serif;">
                But our features don't stop there. With JavaBook, you can also document your coffee maker data, keeping track of the equipment you've used to brew your favorite cups and even saving brewing tips. Never again will you find yourself wondering if you've tried a particular coffee or coffee maker, we'll save that information for you.
            </p>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}