{% extends 'base.html' %}
{% block content %}

<div class="col s12 m6 l6" style="margin-top: 15%;">
    <div class="card">
        <div class="card-content">
            <h1 class="fascinate">Home</h1>
            <hr>
            <br>
            <h5 class="poppins">
            Welcome to JavaBook!!
            <br>
            <br>
            <br>
            Start your Coffee and Coffee Maker chronicles by clicking on the "Add" button above!
            <br>
            <br>
            <br>
            See all your Coffee and Coffee Maker entries by clicking on the "View" button above!
            <br>
            <br>
            </h5>
        </div>
    </div>
</div>

{% endblock %}