body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  font-family: 'Fascinate', cursive;
}

main {
  flex: 1 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

footer.page-footer {
  padding-top: 0;
  text-align: center;
  font-family: 'Fascinate', cursive;
}

h1.detail-index {
  font-family: 'Fascinate', cursive; 
  display: inline-block;
  border-radius: 5px; 
  padding: 10px;
}

h1.fascinate {
  font-family: 'Fascinate', cursive;
}

span.fascinate {
  font-family: 'Fascinate', cursive;
}

div.poppins {
  font-family: 'Poppins', sans-serif;
}

h5.poppins {
  font-family: 'Poppins', sans-serif;
}

.dropdown-trigger {
  outline: none;
}