{% extends 'base.html' %}
{% block content %}

<h1 class="grey lighten-5 z-depth-3 detail-index">Coffee List</h1>

{% for coffee in coffee %}

<a href="{% url 'coffee_detail' coffee.id %}">
  <div class="card z-depth-3">
    <!-- Add this single line below -->    
    <div class="card-content black-text poppins">
      <span class="card-title">{{coffee.name}}</span>
      <p>Roast:  {{coffee.get_roast_display}}</p>
      <p>Rating: {{coffee.rating}}</p>
      <p>Tasting Notes: {{coffee.tastingNotes}}</p>
    </div>
  </div>  
</a>
  
{% endfor %}
{% endblock %}
