{% extends 'base.html' %}
{% block content %}

<h1 class="grey lighten-5 z-depth-3 detail-index">Coffee Details</h1>

<div class="row">
  <div class="col s12 m6 l6">
    <div class="card z-depth-3">
      <div class="card-content grey lighten-5">
        <span class="card-title fascinate">Picture</span>
        <img class="responsive-img" src="{{coffee.image}}">
      </div>
    </div>
  </div>
  
  <div class="col s12 m6 l6">
    <div class="card z-depth-3">
      <div class="card-content grey lighten-5">
        <span class="card-title fascinate">Coffee</span>
        <p>Name: {{coffee.name}} </p>
        <p>Brand: {{coffee.brand}} </p>
        <p>Roast: {{coffee.get_roast_display}}</p>
        <p>Country of Origin: {{coffee.countryOfOrigin}}</p>        
        <p>Rating: {{coffee.rating}}</p>   
        <p>Tasting Notes: {{coffee.notes}}</p>
        <p>Review: {{coffee.review}}</p> 
      </div>
        <div class="card-content grey lighten-5">
          <span class="card-title fascinate">Brew Tips</span>
          <p>Brew Tips: {{coffee.brewTips}}</p>              
        </div>      
      <div class="card-action grey lighten-5">
        <a class="btn brown lighten-1" href="{% url 'coffee_update' coffee.id %}">Edit</a>
        <a class="btn brown lighten-1" href="{% url 'coffee_delete' coffee.id %}">Delete</a>
      </div>
    </div>        
  </div>
</div>

{% endblock %}
