{% extends 'base.html' %}
{% block content %}

<h1 style="font-family: 'Fascinate', cursive;">Coffee List</h1>

{% for coffee in coffee %}
<a href="{% url 'coffee_detail' coffee.id %}">
  <div class="card">
    <!-- Add this single line below -->    
      <div class="card-content black-text" style="font-family: 'Poppins', sans-serif;">
        <span class="card-title">{{coffee.name}}</span>
        <p>Roast:  {{coffee.get_roast_display}}</p>
        <p>Rating: {{coffee.rating}}</p>
        <p>Tasting Notes: {{coffee.tastingNotes}}</p>
      </div>
  </div>
</a>
{% endfor %}

{% endblock %}
